@charset "UTF-8";
#perfume{
	display: none;
}
#hand_body{
	display: none;
}
#home_fragrance{
	display: none;
}
#form_box{
	border : 1px solid black;
	margin: 100px auto 0;
}
input{
	margin: 10px 0 10px;
}
label{
	margin: 10px 0 10px;
}