@charset "UTF-8";

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 헤더 영역 */
header {
	width: 100%;
	height: 130px;
	position: fixed;
	top: 0;
	z-index: 10;
}

.header-wrapper {
	display: flex;
	background-color: #F5F5F5;
}

/* 아이콘 */
.icons {
	font-size: 30px;
	right: 5%;
	top: 70px;
	position: absolute;
}

.icon:hover {
	color: #878787;
	cursor: pointer;
}

/* 타이틀 */
.title {
	height: 130px;
	line-height: 150px;
	margin-left: 5%;
	font-size: 64px;
}

/* 수평선 */
.line {
	border: 0;
	width: 90%;
	margin: 0px auto;
	height: 1px;
	background-color: #1E1E1E;
}

/* 메뉴 */
.nav__list {
	width: 30%;
	height: 130px;
	line-height: 135px;
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
}

.nav__item {
	font-size: 18px;
	font-family: 'Avenir', sans-serif;
	padding: 20px 0px;
}

.nav__item:hover {
	color: #878787;
	cursor: pointer;
}

/* a 태그 */
.a_tag {
	text-decoration: none;
}

.a_tag:link, .a_tag:visited {
	color: #1E1E1E;
}

.a_tag:active {
	color: #878787;
}

/* 메뉴에 마우스 올리면 하위 카테고리 보여주기 */
.nav-list__brand-name {
	font-family: 'Avenir', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #1E1E1E;
	text-align: center;
	padding-top: 20px;
}

.nav-list__all {
	width: 100px;
	height: 30px;
	color: #1E1E1E;
	font-size: 18px;
	font-family: 'Avenir', sans-serif;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #878787;
	cursor: pointer;
	position: absolute;
	top: 430px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	background-color: #F5F5F5;
}

.nav-list__all:hover {
	background-color: #E6E6E6;
	transition: background-color 0.3s linear;
}

/* perfume 메뉴 */
.perfume-nav-list__open {
	display: none;
	height: 500px;
	width: 100%;
	background-color: #F5F5F5;
	z-index: 4;
	position: fixed;
	top: 0;
}

.perfume-nav-list__category {
	width: 60%;
	margin: 160px auto;
	display: flex;
	justify-content: space-between;
}

.perfume-nav-list__category li {
	width: 200px;
}

.perfume-nav-list__category li:hover img {
	filter: brightness(70%);
	transition: filter 0.3s linear;
}

.perfume-nav-list__category li:hover .nav-list__brand-name {
	color: #878787;
	transition: color 0.3s linear;
}

/* handBody 메뉴 */
.handBody-nav-list__open {
	display: none;
	height: 500px;
	width: 100%;
	background-color: #F5F5F5;
	z-index: 4;
	position: fixed;
	top: 0;
}

.handBody-nav-list__category {
	width: 36%;
	margin: 160px auto;
	display: flex;
	justify-content: space-between;
}

.handBody-nav-list__category li {
	width: 200px;
}

.handBody-nav-list__category li:hover img {
	filter: brightness(70%);
	transition: filter 0.3s linear;
}

.handBody-nav-list__category li:hover .nav-list__brand-name {
	color: #878787;
	transition: color 0.3s linear;
}

/* home fragrance 메뉴 */
.homeFragrance-nav-list__open {
	display: none;
	height: 500px;
	width: 100%;
	background-color: #F5F5F5;
	z-index: 4;
	position: fixed;
	top: 0;
}

.homeFragrance-nav-list__category {
	width: 48%;
	margin: 160px auto;
	display: flex;
	justify-content: space-between;
}

.homeFragrance-nav-list__category li {
	width: 200px;
}

.homeFragrance-nav-list__category li:hover img {
	filter: brightness(70%);
	transition: filter 0.3s linear;
}

.homeFragrance-nav-list__category li:hover .nav-list__brand-name {
	color: #878787;
	transition: color 0.3s linear;
}

/* 로그인창 이벤트 속성 */
#login_btn {
	position: relative;
}

#login_page {
	position: absolute;
	top: 70px;
	display: none;
	z-index: 20;
}

/* 검색창 include 속성 */
#search-page {
	display: none;
	position: fixed;
	top: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
}