#프로젝트 실행마다 작성되는 로그 파일 제외
target/m2e-wtp/web-resources/META-INF/maven/com.ict/forest/pom.properties

#프로젝트에서 사용하고 있는 외부 플러그인 tern-project 제외
# .tern-project

# 프로젝트에 사용되는 외부 플러그인을 전반적으로 관리하는 파일 제외
# .springBeans

# 프로젝트 세부 설정을 git에 올리기를 원하면 주석 해제
# settings/

# 프로젝트의 구조나 유형 큰은 설정값을 git에 올리기를 원하면 주석 해제
# .project

# 프로젝트의 외부 라이브러리 경로나 도구들의 경로를 git에 올리기를 원하면 주석 해제
.classpath
/.metadata/
