@charset "UTF-8";

#fourth{
	margin: 0 auto;
	background-color : #f5f5f5;
	width: 1300px;
	height : 650px;
}
#fourth #rec_view{
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}
#fourth > p{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}
#fourth img{
	width: 100%;
	height: 100%;
	object-fit : contain;	
}
.review_box{
	display: flex;
	padding : 10px;
	width: 45%;
	flex-wrap: nowrap;
	justify-content: space-around;
	border-bottom: 1px solid black;
	
}
.review_box div:nth-of-type(1) {
	width: 30%;
}
.review_box div:nth-of-type(2) {
	width: 50%;
}
.review_box div:nth-of-type(2) p:nth-of-type(1) {
	font-size: 20px;
}
.review_box div:nth-of-type(2) p:nth-of-type(2) {
	font-size: 17px;
	margin-top: 10px;
	font-weight: bold;
}
.review_box div:nth-of-type(2) p:nth-of-type(3) {
	font-size: 17px;
	margin-top: 10px;
	height: 50%;
}