@charset "UTF-8";

#eighth{
	margin: 0 auto;
	background-color : #f5f5f5;
	width: 1000px;
	height : 1400px;
}
#eighth #re_info{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}
#eighth re_info p:nth-of-type(1){
	margin-bottom: 20px;
}

#eighth #re_btn{
	width: 30%;
	margin: 50px auto 50px;
	display: flex;
	justify-content: space-between;
	
}
#eighth #re_btn button {
	background-color: transparent;
	border-top: 0px solid black;
	border-right: 0px solid black;
	border-left: 0px solid black;
	border-bottom: 1px solid black;
	font-size: 30px;
}

/* reviewì¹¸ */
#eighth #t_view {
	width: 90%;
	margin: 0 auto;
}
#eighth .rev1{
	width: 95%;
	margin: 0 auto 40px;
	display: flex;
	border-bottom : 1px solid black;
	flex-wrap: wrap;
	padding-bottom: 20px;
}
#eighth .rev1 p:nth-of-type(1){
	width: 18%;
	font-size: 18px;
	margin-bottom: 20px;
}
#eighth .rev1 p:nth-of-type(2){
	width: 18%;
	font-size: 18px;
	margin-bottom: 20px;
}
#eighth .rev1 p:nth-of-type(3){
	width: 60%;
	font-size: 18px;
	text-align: right;
	padding-right: 30px;
	margin-bottom: 20px;
}
#eighth .rev1 p:nth-of-type(4){
	width: 75%;
}
#eighth .rev1 div{
	width: 20%;
	aspect-ratio: 1;
	margin-right: 5%;
	
}
#eighth img{
	width: 100%;
	height: 100%;
	object-fit : contain;
}
