@charset "UTF-8";
/* 메인 세션 */
#second{
	margin: 0 auto;
	background-color : #f5f5f5;
	width: 1300px;
	height : 500px;
}

#second img{
	width: 100%;
	height: 100%;
	object-fit : contain;	
}

#second #sec_artbox{
	width: 90%;
	margin: 0 auto;
	display : flex;
	justify-content: space-between;
	
}
#second #sec_artbox > article{
	width: 45%;
	height : 200px;
}

#second #s_event01{
	width: 100%;
	height: 30px;
	display: flex;
	border : none;
	border-bottom : 1px solid black;
	align-items: center;
}
#second #s_event01 p{
	font-size: 22px;	
}

#second #s_event02{
	width: 100%;
	height: 30px;
	display: flex;
	border: none;
	border-bottom : 1px solid black;
	align-items: center;
}
#second #s_event02 p{
	font-size: 22px;
}
#sec_art_1 div:nth-of-type(2){
	display: none;
}

#sec_art_1 div:nth-of-type(2) p:nth-of-type(1){
	width : 80%;
	margin: 15px 0 20px 20px;
	font-size: 18px;
}
#sec_art_1 div:nth-of-type(2) p:nth-of-type(2){
	width : 80%;
	margin-left: 20px;
	font-size: 18px;
}
#sec_art_2 ul{
	display: none;
	list-style-type: disc;
}
#sec_art_2 ul li{
	font-size: 18px;
	margin: 7px 0 0 30px;
}
