@charset "UTF-8";
body{
	background-color: #f5f5f5;
}
#first{
	width: 1300px;
	background-color: #f5f5f5;
	margin: 0 auto;
	
}
#f_menu{
	width: 90%;
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	margin: 160px auto 0;
	padding-bottom: 10px;
	justify-content: space-around;
}

#f_menu button{
	width: 15%;
	height: 50px;
	line-height: 40px;
	background-color: transparent;
	font-size: 17px;
	border: none;
}

.menu_btn {
	font-family: 'NanumSquare';
	font-size: 10px;
	color: #1E1E1E;
}

/* 이동 버튼 */
.move_btn{
	display: block;
	width: 50%;
	text-align: center;
	font-size: 18px;
	margin: 20px auto 0;
	background-color: transparent;
	border: none;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

/* info 프로필단 */
#f_info{
	width: 80%;
	margin: 50px auto 0;
}
#info_pro{
	width: 100%;
	height: 420px;
	border: none;	
	border-bottom: 1px solid black;
	padding-bottom: 40px;
	margin-bottom: 40px; 
}
#info_pro > p{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}
#info_pro div{
	width: 80%;
	height: 45px;
	display: flex;
	flex-wrap: nowrap;
	margin: 10px auto 10px;
}
#info_pro div p:nth-of-type(1){
	width: 15%;
	height: 45px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#info_pro div p:nth-of-type(1) span{
	font-size: 40px;
}
#info_pro div p:nth-of-type(2){
	width: 85%;
	height: 45px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
#point{
	margin-left: 20px;
}

/* info 주소단 */
#info_addr{
	width: 100%;
	height: 240px;
	border: none;	
	border-bottom: 1px solid black;
	margin: 30px 0 30px 0; 
}
#info_addr > p{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
#info_addr div{
	width: 85%;
	height: 45px;
	display: flex;
	margin: 20px auto 20px;
	align-items: center;
}

#info_addr div p:nth-of-type(1){
	width: 25%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
}
#info_addr div p:nth-of-type(2){
	width: 75%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/* QNA 블록 */
#info_qna{
	width: 100%;
	height: 240px;
	border: none;	
	border-bottom: 1px solid black;
	margin: 30px 0 30px 0; 
}
#info_qna > p{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
#info_qna div{
	width: 85%;
	height: 45px;
	display: flex;
	margin: 20px auto 20px;
	align-items: center;
}
#info_qna div p:nth-of-type(1){
	width: 25%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
}
#info_qna div p:nth-of-type(2){
	width: 75%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
/* 신고 블록 */
#info_help{
	width: 100%;
	height: 240px;
	border: none;	
	border-bottom: 1px solid black;
}
#info_help > p{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
#info_help div{
	width: 85%;
	height: 45px;
	display: flex;
	margin: 20px auto 20px;
	align-items: center;
}
#info_help div p:nth-of-type(1){
	width: 25%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
}
#info_help div p:nth-of-type(2){
	width: 75%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}