@charset "UTF-8";

body {
	background-color: #f5f5f5
}

#first {
	width: 1300px;
	height: 1000px;
	background-color: #f5f5f5;
	margin: 160px auto 0;
}

#first img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#f_list {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.c_product {
	width: 100%;
	height: 160px;
	border: none;
	border-top: 1px solid #1E1E1E;
	border-bottom: 1px solid #1E1E1E;
	margin: 0 auto 30px;
	display: flex;
	align-items: center;
}

.f_imgs {
	width: 15%;
	display: flex;
	justify-content: center;
}

.f_imgs>input {
	width: 20px;
	height: 20px;
}

.f_img {
	width: 100%;
	height: 135px;
}

.f_option {
	width: 56%;
	height: 80%;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	border-right: 1px solid #1E1E1E;
	border-left: 1px solid #1E1E1E;
	display: flex;
	justify-content: space-evenly;
}

.f_option>div:nth-of-type(1) {
	display: flex;
	width: 30%;
	padding-left: 5px;
	height: 100%;
	border-right: 1px solid #dfdfdf;
	font-family: "Palanquin", sans-serif;
	font-size: 15px;
	flex-wrap: wrap;
	align-content: center;
}

.f_option>div:nth-of-type(1)>p {
	width: 100%;
	margin: 5px 10px 5px;
	text-align: left;
}

.f_option>div:nth-of-type(1)>p:nth-of-type(2) {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: wrap;
}

.f_option>div:nth-of-type(2) {
	height: 100%;
	width: 45%;
	font-family: 'NanumSquare';
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	border-right: 1px solid #dfdfdf;
	margin-left: 10px;
}

.f_option>div:nth-of-type(2)>p {
	margin: 5px 10px 5px;
	width: 100%;
}

.f_option>div:nth-of-type(3) {
	width: 20%;
	font-family: 'NanumSquare';
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
}

.f_option>div:nth-of-type(3)>p {
	margin: 5px auto;
}

.c_product>div:nth-of-type(3) {
	width: 29%;
	height: 135px;
	font-family: 'NanumSquare';
	font-size: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.c_product>div:nth-of-type(3) p {
	width: 100%;
	text-align: center;
}

.c_product>div:nth-of-type(3) div {
	width: 100%;
	text-align: center;
}

/* 리뷰 화면 */
.re_chk {
	display: none;
	display: flex;
	width: 800px;
	height: 150px;
	margin: 0 auto;
	align-items: center;
	font-family: 'NanumSquare';
	font-size: 15px;
}

.re_chk>div:nth-of-type(1) {
	width: 150px;
	height: 150px;
	margin-right: 20px;
}

.re_chk>div:nth-of-type(2) p {
	margin-bottom: 10px;
}

.re_insert {
	display: none;
}

/* 위의 이동 버튼 */
#f_menu {
	width: 90%;
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	margin: 0px auto;
	padding-bottom: 10px;
	justify-content: space-around;
}

#f_menu button {
	width: 15%;
	height: 50px;
	line-height: 40px;
	background-color: transparent;
	font-size: 17px;
	border: none;
}

.buy-empty {
	font-family: 'NanumSquare';
	font-size: 15px;
	width: 1170px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	margin: 0 auto;
	color: #1E1E1E;
}

.menu_btn {
	font-family: 'NanumSquare';
	font-size: 10px;
	color: #1E1E1E;
}

.re_insert_btn, .re_chk_btn {
	font-family: 'NanumSquare';
	font-size: 15px;
}