<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product_table">
	<select id="total_count" resultType="int" parameterType="PagingVO">
		select count(*)
		from product_table
		<where>
			p_type = #{p_type}
			<if test="p_brand != null">
				and p_brand = #{p_brand}
			</if>
		</where> 
	</select>

	<select id="products_list" resultType="ProductsVO" parameterType="PagingVO">
		select *
		from product_table
		<where>
			p_type = #{p_type}
			<if test="p_brand != null">
				and p_brand = #{p_brand}
			</if>
		</where> 
		<choose>
			<when test="option != null">
				<choose>
					<when test="option == 'buy_rate'">
						order by ${option} desc
					</when>
					<otherwise>
						order by ${option}
					</otherwise>
				</choose>
			</when>
			<otherwise>
				order by p_name
			</otherwise>
		</choose>
		limit #{limit}
		offset #{offset}
	</select>
	
	<select id="best_seller" resultType="ProductsVO">
		select *
		from product_table
		order by buy_rate desc
		limit 10
	</select>
<!-- 
	<select id="search_list" resultType="ProductsVO" parameterType="Map">
		select *
		from product_table
	    <where>
  		<foreach collection="p_name" item="keyword" index="key">
            <if test="p_name != null">
            	p_name like CONCAT('%', Lower(#{keyword}), '%')
            </if>
        </foreach>
        <if test="p_volume != null">
	  		and p_volume IN
	        <foreach collection="p_volume" item="capacity" open="(" separator="," close=")">
	        	#{capacity}
        	</foreach>
        </if>
        <if test="p_brand != null">
  			and p_brand IN
        	<foreach collection="p_brand" item="brand" open="(" separator="," close=")">
        		#{brand}
        	</foreach>
        </if>
        <if test="p_type != null">
  			and p_type IN
         	<foreach collection="p_type" item="product" open="(" separator="," close=")">
        		 #{product}
        	</foreach>
        </if>
	    </where>
   		order by p_name
	</select>
	 -->
	 <select id="search_list" resultType="ProductsVO" parameterType="MapVO">
		select *
		from product_table
	    <where>
		<foreach collection="search_map.entrySet()" item="value" index="k">
			<if test="k == 'p_name'">
	            <if test="value != null">
					<foreach collection="value" item="j">
		            	p_name like CONCAT('%', Lower(#{j}), '%')
   	    			</foreach>
	            </if>
			</if>
			<if test="k == 'p_type'">
	            <if test="value != null">
	            	and p_type IN
					<foreach collection="value" item="j" open="(" separator="," close=")">
        				#{j}
       				</foreach>
	            </if>
			</if>
			<if test="k == 'p_brand'">
	            <if test="value != null">
	            	and p_brand IN
					<foreach collection="value" item="j" open="(" separator="," close=")">
        				#{j}
       				</foreach>
	            </if>
			</if>
			<if test="k == 'p_volume'">
	            <if test="value != null">
	            	and p_volume IN
					<foreach collection="value" item="j" open="(" separator="," close=")">
        				#{j}
       				</foreach>
	            </if>
			</if>
		</foreach>
	    </where>
	    <choose>
			<when test="option != null">
				<choose>
					<when test="option == 'buy_rate'">
						order by ${option} desc
					</when>
					<otherwise>
						order by ${option}
					</otherwise>
				</choose>
			</when>
			<otherwise>
				order by p_name
			</otherwise>
		</choose>
   		limit #{limit}
   		offset #{offset}
	</select>
	 
	<select id="search_count" resultType="int" parameterType="MapVO">
		select count(*)
		from product_table
	    <where>
			<foreach collection="search_map.entrySet()" item="value" index="k">
			<if test="k == 'p_name'">
	            <if test="value != null">
					<foreach collection="value" item="j">
		            	p_name like CONCAT('%', Lower(#{j}), '%')
   	    			</foreach>
	            </if>
			</if>
			<if test="k == 'p_type'">
	            <if test="value != null">
	            	and p_type IN
					<foreach collection="value" item="j" open="(" separator="," close=")">
        				#{j}
       				</foreach>
	            </if>
			</if>
			<if test="k == 'p_brand'">
	            <if test="value != null">
	            	and p_brand IN
					<foreach collection="value" item="j" open="(" separator="," close=")">
        				#{j}
       				</foreach>
	            </if>
			</if>
			<if test="k == 'p_volume'">
	            <if test="value != null">
	            	and p_volume IN
					<foreach collection="value" item="j" open="(" separator="," close=")">
        				#{j}
       				</foreach>
	            </if>
			</if>
		</foreach>
	    </where>
	</select>
	<!--  
	<select id="search_count" resultType="int" parameterType="Map">
		select count(*)
		from product_table
	    <where>
  		<foreach collection="p_name" item="keyword" index="key">
            <if test="p_name != null">
            	p_name like CONCAT('%', Lower(#{keyword}), '%')
            </if>
        </foreach>
        <if test="p_volume != null">
	  		and p_volume IN
	        <foreach collection="p_volume" item="capacity" open="(" separator="," close=")">
	        	#{capacity}
        	</foreach>
        </if>
        <if test="p_brand != null">
  			and p_brand IN
        	<foreach collection="p_brand" item="brand" open="(" separator="," close=")">
        		#{brand}
        	</foreach>
        </if>
        <if test="p_type != null">
  			and p_type IN
         	<foreach collection="p_type" item="product" open="(" separator="," close=")">
        		 #{product}
        	</foreach>
        </if>
	    </where>
	</select>
	-->
	
	
</mapper>















