<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="user_table">
	
	<!-- jjh: 회원가입 -->
	<insert id="user_insert" parameterType="uvo">
	    INSERT INTO user_table (user_name, user_id, user_pwd, user_email, user_phone, user_type, regdate) 
	    VALUES (#{user_name}, #{user_id}, #{user_pwd}, #{user_email}, #{user_phone}, #{user_type}, sysdate())
	</insert>
	
	<!-- jjh: 회원가입시 주소 입력 -->
	<insert id="user_addr_insert" parameterType="uavo">
		<selectKey keyProperty="user_idx" resultType="String" order="BEFORE">
			SELECT (IFNULL(MAX(user_idx),0)) as user_idx FROM user_table
	    </selectKey>
	    INSERT INTO user_addr_table (user_idx, zip_code, main_addr, detail_addr, ex_addr, addr_type) 
	    VALUES (#{user_idx}, #{zip_code},#{main_addr},#{detail_addr},#{ex_addr}, 0)
	</insert>
	
	<!-- jjh: 로그인 체크 -->
	<select id="user_login" parameterType="String" resultType="uvo">
		select * from user_table where user_id = #{user_id}
	</select>
	
	<!-- jjh: user_idx로 특정 유저 전체 정보 가져오기 -->
	<select id="user_detail" parameterType="String" resultType="uvo">
		select * from user_table where user_idx = #{user_idx}
	</select>
	
	<!-- jjh: user_idx로 특정 유저의 주소 목록 전체 가져오기 -->
	<select id="user_addr" parameterType="String" resultType="uavo">
		select * from user_addr_table where user_idx = #{user_idx} order by addr_type desc
	</select>
	
	<insert id="wish_insert" parameterType="wvo">
		insert into wish_table(p_idx, user_idx, p_name, p_brand, p_volume, p_price, p_main_img)
		values(#{p_idx},#{user_idx},#{p_name},#{p_brand},#{p_volume},#{p_price},#{p_main_img})
	</insert>
	
	<select id="wish_list" parameterType="String" resultType="wvo">
		select * from wish_table where user_idx=#{user_idx}
	</select>
	
	<select id="wish_count" parameterType="String" resultType="int">
		select count(*) from wish_table where user_idx=#{user_idx}
	</select>
	
	
</mapper>















