<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<typeAliases>
		<!-- jjh : 유저정보VO -->
		<typeAlias type="com.ict.forest.jjh.dao.UserVO" alias="uvo"/>
		<!-- jjh : 유저주소 정보VO -->
		<typeAlias type="com.ict.forest.jjh.dao.UserAddrVO" alias="uavo"/>
		<!-- jjh : 상품 정보 VO -->
		<typeAlias type="com.ict.forest.jjh.dao.ProductVO" alias="pvo"/>
		<!-- jjh : 상품 서브 이미지 VO -->
		<typeAlias type="com.ict.forest.jjh.dao.ProductSubImgVO" alias="pivo"/>
		<!-- jjh : review VO -->
		<typeAlias type="com.ict.forest.jjh.dao.ReviewVO" alias="rivo"/>
		<!-- jjh : wish VO -->
		<typeAlias type="com.ict.forest.jjh.dao.WishVO" alias="wvo"/>
		<!-- jjh 거 khj가 적음..   상품 구매 VO 결제하려는 정보들 담는 VO -->
		<typeAlias type="com.ict.forest.jjh.dao.BuyVO" alias="buyvo" />
		<!-- pdh : 상품 정보 VO -->
		<typeAlias type="com.ict.forest.pdh.dao.ProductsVO" alias="ProductsVO"/>
		<typeAlias type="com.ict.forest.pdh.dao.PagingVO" alias="PagingVO"/>
		<!-- khj 결제하기 VO -->
		<typeAlias type="com.ict.forest.khj.dao.PayVO" alias="payvo" />
		<!-- khj 결제를 위해 넘어올 테스트용 정보를 담은 VO -->
		<typeAlias type="com.ict.forest.kch.dao.KchVO" alias="kvo" />
	</typeAliases>
	<mappers>
		<!-- jjh : 유저 관련 mapper -->
		<mapper resource="mappers/user-mapper.xml" />
		<!-- jjh : 상품 관련 mapper -->
		<mapper resource="mappers/product-mapper.xml" />
		<!-- pdh -->
		<mapper resource="mappers/products-mapper.xml" />
		<!-- khj  pay_table  db로 가는 매퍼 -->
		<mapper resource="mappers/pay-mapper.xml" />
	</mappers>
</configuration>