@charset "UTF-8";
#third{
	margin: 0 auto;
	background-color : #f5f5f5;
	width: 1300px;
	height : 650px;
}
#third img{
	width: 100%;
	height: 100%;
	object-fit : contain;	
}
#third > p{
  text-align: center;
  font-weight: bold;
}
#third #recent_box{
	width: 90%;
	height : 250px;
	margin: 0 auto;
	display: flex;
  justify-content: space-between;
}
#third #recent_box > div{
	width: 15%;
}
#third #recent_box p{
	text-align: center;
}


