@charset "UTF-8";

/* 전체 css */
#six{
	background-color : #f5f5f5;
	margin: 0 auto;
	width: 1000px;
	height : 1200px;
}
#six #simg_box{
	width: 90%;
	height: 1000px;
	margin: 0 auto;
	position: relative;
}

/* 이미지 css */
#six img{
	width: 100%;
	height: 100%;
	object-fit : contain;
}
#six #simg_1, #simg_2{
	width: 500px;
	height: 550px;
}
#six #simg_1{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 40;
}
#six #simg_2{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 40;
}

/* 텍스트 박스 css */
#six #simg_box p{
	width: 250px;
	text-align: center;
}
#six .stext_box{
	display: flex;
	justify-content: center;
 	 align-items: center;
}
#six #stext_box_1{
	width: 400px;
	height: 450px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 40;
}
#six #stext_box_2{
	width: 400px;
	height: 450px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 40;
}