@charset "UTF-8";
#wishlist{
	width: 1300px;
	height: 1000px;
	background-color: #EaEaEa;
	margin: 0 auto;
	padding-top: 160px;
}
#wishlist img{
	width: 100%;
	height: 100%;
	object-fit : cover;
}
#lists{
	width: 950px;
	height: 700px;
	margin: 0 auto;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	justify-content: center;
	border-radius: 20px;
}
.wishitems{
	width: 25%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;	
}
.wishitems > div:nth-of-type(1) {
	width: 90%;
	height: 230px;
	margin: 0 auto;
}
.wishitems >  p:nth-of-type(1){
	width: 85%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin: 10px auto 0;
	text-overflow : ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.wishitems >  p:nth-of-type(2){
	width: 90%;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}
.wishitems > div:nth-of-type(2) {
	width: 100%;
	display: none;
}
.wishitems > div:nth-of-type(2) p {
	width: 90%;
	margin: 0 auto 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.wishitems > div:nth-of-type(2) button:nth-of-type(1){
	display: block;
	width: 90%;
	font-size: 15px;
	margin: 0 auto;
	border: none;
	background-color: white;
}
.wishitems > div:nth-of-type(2) button:nth-of-type(2){
	display: block;
	width: 90%;
	font-size: 15px;
	margin: 0 auto;
	border: none;
	background-color: #949191;
}