@charset "UTF-8";

/* 배경이미지가 스크롤에 따라 움직이지 않고 화면에 맞게 */
html {
	background: url("../image/background_01.jpg") no-repeat center center
		fixed;
	background-size: cover;
	transition: background 2.0s ease-in-out;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 헤더 영역 */
header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

/* a태그 */
.a_tag {
	color: white;
	text-decoration: none;
}

.a_tag:link, .a_tag:visited {
	color: white;
}

.a_tag:active {
	color: #878787;
}

/* 타이틀 */
.title {
	text-align: center;
	color: white;
	font-size: 64px;
	height: 130px;
	line-height: 130px;
}

/* 아이콘 */
.icons {
	color: white;
	font-size: 30px;
	top: 70px;
	right: 5%;
	position: absolute;
}

.icon:hover {
	color: #878787;
}

/* 메뉴 */
.nav__list {
	width: 50%;
	margin: 0px auto;
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.nav__item {
	font-family: 'Avenir', sans-serif;
	font-size: 18px;
	color: white;
	float: left;
	padding: 25px 0px;
	border-bottom: 1px solid transparent;
}

.nav__item:hover {
	border-bottom-color: white;
	color: #878787;
	transition: color 0.3s linear;
	cursor: pointer;
}

/* 수평선 */
.line {
	width: 90%;
	margin: 0px auto;
	height: 1px;
	background-color: white;
	border: 0;
}

/* 페이지의 가운데에 위치하는 글씨 */
.middle-title {
	width: 100%;
	color: white;
	font-size: 200px;
	text-align: center;
	margin-top: 45vh;
	position: fixed;
	z-index: 1;
}

/* 메뉴에 마우스 올리면 하위 카테고리 보여주기 */
.perfume-nav-list__open {
	display: none;
	height: 650px;
	width: 100%;
	background-color: #F5F5F5;
	z-index: 4;
	position: fixed;
	top: 0;
}

.perfume-nav-list__category {
	width: 60%;
	margin: 240px auto;
	display: flex;
	justify-content: space-between;
}

.perfume-nav-list__category li {
	width: 200px;
}

.nav-list__brand-name {
	font-family: 'Avenir', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #1E1E1E;
	text-align: center;
	padding-top: 20px;
}

.perfume-nav-list__category li:hover img {
	filter: brightness(70%);
	transition: filter 0.3s linear;
}

.perfume-nav-list__category li:hover .nav-list__brand-name {
	color: #878787;
	transition: color 0.3s linear;
}

.nav-list__all {
	width: 100px;
	height: 30px;
	color: #1E1E1E;
	font-size: 18px;
	font-family: 'Avenir', sans-serif;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #878787;
	cursor: pointer;
	position: absolute;
	top: 540px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	background-color: #F5F5F5;
}

.nav-list__all:hover {
	background-color: #E6E6E6;
	transition: background-color 0.3s linear;
}

/* handBody */
.handBody-nav-list__open {
	display: none;
	height: 650px;
	width: 100%;
	background-color: #F5F5F5;
	z-index: 4;
	position: fixed;
	top: 0;
}

.handBody-nav-list__category {
	width: 60%;
	margin: 240px auto;
	display: flex;
	justify-content: space-between;
}

.handBody-nav-list__category li {
	width: 200px;
}

.handBody-nav-list__category li:hover img {
	filter: brightness(70%);
	transition: filter 0.3s linear;
}

.handBody-nav-list__category li:hover .nav-list__brand-name {
	color: #878787;
	transition: color 0.3s linear;
}

/* home fragrance */
.homeFragrance-nav-list__open {
	display: none;
	height: 650px;
	width: 100%;
	background-color: #F5F5F5;
	z-index: 4;
	position: fixed;
	top: 0;
}

.homeFragrance-nav-list__category {
	width: 60%;
	margin: 240px auto;
	display: flex;
	justify-content: space-between;
}

.homeFragrance-nav-list__category li {
	width: 200px;
}

.homeFragrance-nav-list__category li:hover img {
	filter: brightness(70%);
	transition: filter 0.3s linear;
}

.homeFragrance-nav-list__category li:hover .nav-list__brand-name {
	color: #878787;
	transition: color 0.3s linear;
}

/* best-seller 영역 */
.best-seller {
	width: 100%;
	height: 710px;
	margin-top: 100vh;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(10px);
	overscroll-behavior-y: none;
	position: absolute;
	top: 0;
	z-index: 2;
}

#best-seller__inner {
	overflow-x: auto;
	margin-left: 50px;
	scrollbar-width: none;
}

.best-seller__title {
	font-size: 30px;
	text-align: center;
	color: white;
	margin: 60px 0px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.best-seller__list {
	margin-top: 150px;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
	row-gap: 0;
	column-gap: 42px;
}

.best-seller__thumbnail {
	width: 250px;
	height: 250px;
}

.best-seller__brand {
	font-family: 'Avenir', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 10px 0px;
}

.best-seller__information {
	font-family: "Palanquin", sans-serif;
	font-size: 13px;
	text-align: center;
	color: white;
}

.best-seller__information p {
	margin-bottom: 10px;
}

/* 로그인창 이벤트 속성 */
#login_btn {
	position: relative;
}

#login_page {
	position: absolute;
	top: 60px;
	display: none;
	z-index: 20;
} 

/* 검색창 include 속성 */
#search-page{
	display: none;
	position: fixed;
	top:0;
	z-index: 11;
	width: 100%;
	height: 100%;
}
