@charset "UTF-8";
/* 배경 색상 */
html {
	background-color: #F5F5F5;
}

/* 상품들 */
main {
	width: 100%;
	padding-top: 300px;
	display: grid;
	place-items: center;
}

.select-box {
	width: 60px;
	justify-self: end;
	margin-right: 22%;
	margin-bottom: 20px;
}

.select {
	font-family: 'NanumSquare';
	font-size: 14px;
	background: transparent;
	border: 0px;
	color: #1E1E1E;
}

.select:hover {
	color: #878787;
}

.product-wrapper {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.product {
	margin-bottom: 50px;
}

.product:hover {
	filter: brightness(70%);
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.product-thumbnail {
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	height: auto;
}

.product-brand {
	font-family: 'Avenir', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #1E1E1E;
	margin: 10px 0px;
}

.product-information {
	font-family: "Palanquin", sans-serif;
	font-size: 15px;
	text-align: center;
	color: #1E1E1E;
}

p {
	margin-bottom: 10px;
}