@charset "UTF-8";

#frame {
	width: 1000px;
	background-color: #f5f5f5;
	padding-top: 40px;
	margin: 20px auto 20px auto;
	border: 1px solid black;
}

#ccenter {
	width: 900px;
	background-color: #fafafa;
	margin: 0 auto;
}

#sel {
	width: 100%;
}

#s_menu {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}

#s_menu>a {
	font-size: 40px;
	width: 25%;
	background-color: #fafafa;
	text-align: center;
	text-decoration: none
}

#s_menu>a:hover {
	background-color: orange;
}

#s_display {
	width: 100%;
	height: 45px;
	font-size: 25px;
	text-align: center;
	
}


#sel_main {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
}

#sel_main>button {
	width: 12%;
	height: 40px;
	margin: 0 20px 0;
	font-size: 20px;
}

#sel_main>button:hover {
	background-color: orange;
}

#main {
	width: 100%;
	background-color: #f5f5f5;
}

.m_div {
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #aeaeae;
}

.m_num {
	width: 5%;
	height: 50px;
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.m_type {
	width: 13%;
	height: 50px;
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.m_content {
	width: 70%;
	height: 50px;
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.m_content:hover {
	background-color: orange;
}


.m_reply {
	display: none;
	text-align: center;
}

#sel_faq_page {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#sel_faq_page>.entity {
	width: 40px;
	height: 40px;
}

#sel_faq_page>.page_num {
	width: 40px;
	height: 40px;
	background-color: #f5f5f5;
	text-align: center;
}

#sel_faq_page>.page_num:hover {
	background-color: orange;
}
