@charset "UTF-8";
body{
	background-color: #f5f5f5; 
}
#s_menu{
	width: 1000px; 
	height: 100px; 
	background-color: #f5f5f5; 
	margin: 180px auto 0;
	display: flex; 
	justify-content: center; 
	align-items: center;
}

#s_menu > a{
	text-align: center;
	font-size: 60px; 
	width: 25%; 
	background-color: transparent; 
	text-decoration: none;
}
#dis_but{
	display: flex;
	justify-content: center;
	align-items: center;
}
#s_display{
	margin: 0 auto;
	width: 400px; 
	height: 45px; 
	font-size: 25px; 
	text-align: center; 
	border-bottom: 1px solid black;
	background-color: #f5f5f5;
	}
#s_menu > a:hover{
	background-color: orange;
	}
#qna_block{
	width: 1000px;
	margin: 0 auto;
}

.qna_head{display: flex; 
	background-color: #f5f5f5;
	width: 1000px;
	margin-top: 10px; 
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}

.qna_head > div{
	height: 60px; 
	display: flex; 
	justify-content: center;
	align-items: center;
	
    list-style: none;
    font-size: 25px;
    
}
.qna_head:hover{
	background-color: orange;
}
.qna_num{
	width: 5%;
	margin-left: 10px;
}
.user_id{
	width: 10%;
}
.qna_created_date{
	width: 15%;
}
.qna_subject{
	width: 57%;
}
.qna_reply_status{
	width: 10%;
	margin-right: 10px;
}

.qna_body{
	text-align: center;  
	font-size: 20px;
	display: none;
}

#sel_qna_page{
	width: 100%; 
	height: 60px;  
	display: flex; 
	justify-content: center; 
	align-items: center; 
}
.qna_subject p{
	width: 80%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}

#sel_qna_page > .entity{
	width: 40px; 
	height: 40px; 
}

#sel_qna_page > .entity:hover{
	background-color: orange;
}

#sel_qna_page > .page_num{
	width: 40px; height: 40px; 
	background-color: #e5e5e5; 
	text-align: center; 
}

#sel_qna_page > .page_num:hover{
	background-color: orange;
}







