@charset "UTF-8";

	#wrap {
		padding: 40px 50px 50px;
		justify-content: center;
		align-items: center;
		gap: 20px;
		background-color: #f5f5f5;
		margin: 0px auto;
		margin-top: 160px;
		width: 780px;
	}
	
	h1{
		font-size: 2em;
		font-weight: bold;
	}

	.f_ipw {
		display: flex;
		flex-direction: column;
	}	
	
	.in_text{
		text-align: left;
	}
	.f_ipw{
		margin-bottom: 40px;
	}
	.f_ep{
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid black;
		padding: 5px;
	}
	.f_ne{
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid black;
		padding: 5px;
	}
	.f_text {
		margin-bottom: 25px;
		border: none;
		padding: 5px;
	}
	input[type="text"]{
		border: none;
		background-color: #f5f5f5;
		padding: 5px;
	}
	.f_ir {
		display : flex;
		justify-content: center;
		align-items: center;	
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	