@charset "UTF-8";

div.container {
	padding-top: 160px;	
}


 /* 제목 */
caption {
	font-size: 2em;
	font-weight: bold;	
	margin-bottom: 20px;
	text-align: left;
}

 /* 가입 취소 버튼 */
div.create {
	width: 800px;
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid black;
	margin: auto;
}

table {
	width: 900px;
	border-top: 3px solid black;
	margin: 0px auto;
}

td {
	border-bottom: 1px dotted black;
}


.menu {
	background-color: #e8e8e8;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 1em;
}

.userin {
	text-align: left;
	padding: 5px;
}

.but1 {
	height: 30px;
	width: 80px;
}

.but2 {
	height: 30px;
	width: 120px;
}

.but3 {
	height: 30px;
	width: 120px;
}

#sel_btn{
	height: 30px;
}

.but4 {
	height: 35px;
	width: 150px;
}

.but5 {
	height: 35px;
	width: 150px;
}


.but4:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
}

.but5:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
}

input[type="text"], [type="password"]{
	height: 30px;
}
#addr{
	height: 120px;
}
.addr-box{
	margin-bottom: 10px;
}

#domain-list{
	height: 30px;
}

.menu{
	vertical-align: middle;
}

.chtext {
	font-size: 20px;
	vertical-align: -10px
}
